{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1>Cart</h1>
<div class="row">
    {% for item in cart_item %}
    <div class="col">

        <div class="card" style="width: 10rem;">
<!--            <img src="{% static 'images/'%}{{ord.products.p_imgurl}}" class="Card" alt="Card">-->
            <div class="card-body">
                <h5 class="card-title">{{item.product.name}}</h5>
                <p class="card-text">{{item.product.price}} Rs</p>

            </div>
        </div>
    </div>
    {% endfor %}

</div>

<!--<a href="{% url 'checkout' %}" ><button style="font-family:arial; font-size:20px; width:120px; height:40px;-->
<!--margin-top:20px; ; border: 1px solid 3498db; background: #2093c3; border-radius:5px;"> Checkout </button></a>-->
<a href = "{% url 'checkout' %}"><button  style="margin-top:15px" class="btn btn-primary">Checkout</button></a>
{% endblock %}
